.block {
  padding: var(--block-spacing) 0;

  &:not(.block-hero):not(.block-hero-home):not(.block-hero-dashboard) {
    margin-top: 6.25rem !important;

    &.small-top {
      margin-top: 2rem !important;
    }
  }

  &[id] {
    scroll-margin-top: calc(var(--header-height) / 2 + var(--admin-bar-height));
  }
}

section,
.block {
  position: relative;
}

@import "./block-hero";
@import "./block-hero-home";
@import "./block-hero-dashboard";
@import "./block-about-us";
@import "./block-gallery";
@import "./block-accommodations-slider";
@import "./block-cta";
@import "./block-uppsells";
@import "./block-chat-wrapper";
