.block-chat-wrapper {
  .chat-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .chat-popup {
    position: fixed;
    bottom: 90px;
    right: 20px;
    border: 1px solid #ddd;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    transform: translateX(calc(100% + 50px));

    &.active {
      transform: translateX(0);
    }
  }
}