{% extends 'layouts/main_layout.html' %}
{% set bodyClass = "booking" %}
{% set title = "Booking" %}

{% block content %}
    <div class="container mt-5">
        <h2 class="mb-4 text-center">Maak uw boeking</h2>

        <!-- Boekingsformulier -->
        <form id="bookingForm">
            <div class="wizard-wrapper">
                <div class="wizard-header"></div>
                <div class="wizard-steps">
                    {% include 'components/BookingWizard/step-information.html' %}
                    {% include 'components/BookingWizard/step-booking-data.html' %}
                    {% include 'components/BookingWizard/step-payment.html' %}
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script src="/static/js/script.js"></script>
{% endblock %}
