{% extends "layouts/main_layout.html" %}
{% set bodyClass = "index" %}
{% set title = "Home Page" %}

{% block content %}
    {% include 'components/blocks/hero/block-hero-home.html' %}

    {% include 'components/blocks/block-about-us.html' %}

    {% include 'components/blocks/block-popular-accommodation.html' %}

    {% include 'components/blocks/block-gallery.html' %}

    {% include 'components/blocks/block-upsells.html' %}
    {% include 'components/blocks/block-cta.html' %}
    {% include 'components/blocks/block-accommodations-slider.html' %}

{% endblock %}