{% extends 'layouts/main_layout.html' %}
{% set bodyClass = "register" %}
{% set title = "Register" %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card mt-md-5 bg-white rounded border border-gray">
                    <div class="card-header bg-white">
                        <h3 class="text-center">Register</h3>
                    </div>
                    <div class="card-body">
                        <p>bedankt</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

