<section class="block block-gallery">
    <h2 class="title text-center mb-2">Onze Galerij</h2>
    <div class="g-4 gx-4 gy-4 row">
        <div class="col-8">
            <img src="/static/img/default-gallery-1.jpg"/>
        </div>
        <div class="col-8">
            <img src="/static/img/default-gallery-2.jpg"/></div>
        <div class="col-8">
            <img src="/static/img/default-gallery-7.jpg"/></div>
        <div class="col-16">
            <img src="/static/img/default-gallery-5.jpg"/></div>
        <div class="col-8">
            <img src="/static/img/default-gallery-4.jpg"/></div>
        <div class="col-8">
            <img src="/static/img/default-gallery-6.jpg"/></div>
        <div class="col-8">
            <img src="/static/img/default-gallery-3.jpg"/></div>
        <div class="col-8">
            <img src="/static/img/default-gallery-2.jpg"/></div>
    </div>
</section>