<section class="block block-filters small-top">
    <div class="container-xl">
        <div class="filters-wrapper">
            <form method="get" action="/accommodation">
                <div class="row">
                    <div class="col-24 col-lg-12">
                        <div class="form-group">
                            <label for="filter-input-search">Zoeken</label>
                            <input type="text" name="search" class="form-control" id="filter-input-search"
                                   placeholder="Zoeken">
                        </div>
                    </div>
                    <div class="col-24 col-lg-6">
                        <div class="form-group">
                            <label for="filter-input-start-date">Beschrikbaar Datums</label>
                            <input type="text" id="weekRange" class="form-control" placeholder="Selecteer week/weken"
                                   readonly>

                            <input type="hidden" name="start_date"/>
                            <input type="hidden" name="end_date"/>
                        </div>
                    </div>
                    <div class="align-items-end col-24 col-lg-6 d-flex justify-content-end">
                        <div class="btn-group">
                            <button type="submit" class="btn btn-primary">Zoeken</button>
                            <a href="/accommodation" class="btn btn-danger">Resetten</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>