<div class="block block-filters">
    <div class="filters-wrapper">
        <form method="get" action="/accommodation">
            <div class="row">
                <div class="col-24 col-lg-15">
                    <div class="form-group">
                        <labe\l for="filter-input-search">Zoeken</label>
                        <input type="text" name="search" class="form-control" id="filter-input-search"
                               placeholder="Zoeken">
                    </div>
                </div>
                <div class="col-24 col-lg-6">
                    <div class="form-group">
                        <label for="filter-input-start-date">Beschrikbaar Datums</label>
                        <input type="text" id="weekRange" class="form-control" placeholder="Select week range" readonly>

                    </div>
                </div>
                <div class="col-24 col-lg-3 d-flex align-items-end justify-content-end">
                    <button type="submit" class="btn btn-primary">Zoeken</button>
                </div>
            </div>
        </form>
    </div>
</div>