<section class="block block-about-us">
    <div class="container-xl">
        <div class="row">
            <div class="col-lg-12 text-center">
                <picture>
                    <img src="/static/img/default-about-us.jpg" alt=""
                         width="556"
                         height="382">
                </picture>
            </div>
            <div class="col-lg-12">
                <h3>Wie zijn wij</h3>
                <!-- Bootstrap tabs-->
                <div class="tabs-custom tabs-horizontal tabs-line tabs-line-big tabs-line-style-2 text-center text-md-start">
                    <ul class="nav nav-tabs mb-4 " role="tablist">
                        <li class="nav-item" role="presentation"><a class="nav-link active" href="#tabs-about-us-1"
                                                                    data-bs-toggle="tab" aria-selected="true"
                                                                    role="tab">Over ons</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-about-us-2"
                                                                    data-bs-toggle="tab" aria-selected="false"
                                                                    role="tab" tabindex="-1">Waarom wij</a></li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="tabs-about-us-1" role="tabpanel">
                            <p>Ons vakantie park is opgericht in 2020 om vakantiegangers met een budget van over de hele
                                wereld
                                betaalbare maar zeer comfortabele accommodatie aan te bieden.</p>
                        </div>
                        <div class="tab-pane fade" id="tabs-about-us-2" role="tabpanel">
                            <p>Wij zijn een van de populairste vakantie parken voor de gasten van onze stad. Ons
                                vakantie
                                park werd bekroond
                                tot de "Best EU Vakantie Park" in 2023 voor de unieke benadering van onze klanten en
                                bezoekers.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>