<div class="card card-booking flex-column flex-md-row align-items-md-stretch">
    <div>
        <picture>
            <img src="/static/img/{{ booking.thumbnail_image }}">
        </picture>
    </div>

    <div class="body">
        <p>Check in datum: {{ booking.start_date }}</p>
        <p>Check uit datum: {{ booking.end_date }}</p>
        <p>Accommodatie naam: {{ booking.id }}</p>
        <p>Booking datum: {{ booking.booking_date }}</p>

        <div>
            <button id="editButton" class="btn btn-primary mt-4 me-2" onclick="editBooking({{ booking.id }})">Bewerken
            </button>
            <button id="removeButton" class="btn btn-danger mt-4 filled" onclick="removeBooking({{ booking.id }})">
                Verwijderen
            </button>
        </div>
    </div>
</div>