.card-booking {
  picture {
    max-width: 350px;
    max-height: 250px;
    width: 500px;
    display: block;
    height: 366px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .body {
    position: relative;
    padding: 30px 90px 30px 45px;
  }
}
