div.card, article.card {
    border-radius: 16px;

    &.seconadary {
        background-color: var(--bs-secondary);
        color: white;

        .number {
            color: var(--bs-tertiary);
        }
    }

    &.tertiary {
        background-color: var(--bs-tertiary);
        color: white;

        .number {
            color: var(--bs-secondary);
        }
    }
}

@import "./card-accommodation";
@import "./card-accommodation-detail";
@import "./card-accommodation-vertical";
@import "./card-booking";