<section class="block block-hero-home full-width">
    <div class="block-hero-full-width">
        <div class="container content-wrapper">
            <p class="hero-sub-title">een perfecte en betaalbare plek om te verblijven</p>
            <h1 class="hero-title">Profiteer van de budgetgerichte accommodatie</h1>
            <a class="btn btn-primary filled text-black" href="/accommodation">BOEK NU</a>
        </div>
        <div class="thumbnail" style="background-image: url(/static/img/default-hero-home.jpg);"></div>
    </div>
</section>