footer {
  background: $secondary;
  color: white;

  h5, a, span {
    color: white;
  }

  h5 {
    font-size: 36px;
  }

  .footer-main {
    .nav {
      a {
        font-family: $font-family-base !important;
      }
    }

    .contact-wrapper {
      i {
        margin-right: 5px;
        color: $primary;
      }

      a {
        font-family: $font-family-base !important;
      }
    }

    .quick-links-wrapper {
      list-style-type: disc;

      li.nav-item {

        &::marker {
          color: $primary;
          font-size: 25px;
        }

        a {
          color: white;
        }
      }
    }
  }

  .copy-right {
    background: darken($secondary, 10%);
    color: white;
  }
}