header {
  position: relative;

  .nav-aside-wrapper {
    padding: 10px calc(1.5rem * 0.5);

    .header-logo {
      font-family: "Teko", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
      font-size: 35px;
      color: black;

      img {
        margin-right: 10px;
      }
    }

    .information-wrapper {
      .fas, .far {
        vertical-align: middle;
        text-align: center;
        font-size: 24px;
        line-height: 1;
        color: $primary;
        margin-right: 10px;
      }

      span, a {
        margin-top: 2px;
        font-size: 24px;
        line-height: 1;
        font-weight: 400;
        letter-spacing: .075em;
        color: black;
        font-family: "Teko", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
      }

      .open-times {
        margin-right: 20px;
        position: relative;

        &:after {
          height: 100%;
          width: 1px;
          background: black;
          opacity: 0.2;
          content: "";
          position: absolute;
          top: 0;
          right: -10px;
          transform: translateX(-50%);
        }
      }
    }
  }

  .nav-wrapper {
    padding: 0 calc(1.5rem * 0.5);
    background: $secondary;

    nav {
      .nav-item {
        position: relative;
        padding: 23px 20px 16px;
        font-size: 18px;
        letter-spacing: .05em;
        text-transform: uppercase;
        line-height: 1.2;
        font-weight: 500;
        transition: .25s;
        z-index: 1;

        &:before {
          height: 100%;
          transform: translate3d(0, 0, 0);
          transition-delay: 0s, .2s;
          position: absolute;
          content: '';
          top: 0;
          left: 0;
          width: 100%;
          background: #4b5055;
          border-top: 3px solid #ffce40;
          transition: all 0.35s cubic-bezier(0.05, 0.29, 0.11, 1.54), height 0.3s ease;
          visibility: hidden;
          opacity: 0;
          z-index: -1;
        }

        &.active, &:hover {
          &:before {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }
}
