{% extends 'layouts/main_layout.html' %}
{% set bodyClass = "booking" %}
{% set title = "Maak uw boeking" %}
{% set disabled_buttons = True %}

{% block content %}
    {% include 'components/blocks/hero/block-hero.html' %}

    <div class="container mt-5">
        <form id="bookingForm" method="post">
            <div class="row">
                <div class="col-16">
                    <div class="wizard-wrapper">
                        <div class="wizard-header"></div>
                        <div class="wizard-steps">
                            {% include 'components/wizards/BookingWizard/step-booking-data.html' %}
                            {% include 'components/wizards/BookingWizard/step-overview-payment.html' %}
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    {% include 'components/cards/card-accommodation-vertical.html' %}
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block header %}
    <link rel="stylesheet" href="https://npmcdn.com/flatpickr@4.6.13/dist/themes/airbnb.css">
{% endblock %}

{% block scripts %}
    <script src="/static/js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://unpkg.com/flatpickr@4.6.13/dist/plugins/rangePlugin.js"></script>
    <script src="/static/js/rangepicker.js"></script>
{% endblock %}
