$grid-columns: 24;
$link-color: #ffdb73;
$link-color: #ffc727;
$btn-border-radius: 0;
$border-radius: 0;

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

@import "./global/global";
@import "./global/button";
@import "./global/form";

// modules
@import "./module/header";
@import "./module/footer";
@import "./module/nigel";

// sections
// ------------
@import "./module/blocks/blocks";

// cars
// ------------
@import "./module/cards/cards";