$grid-columns: 24;
$link-color: #ffdb73;
$link-color: #ffc727;
$btn-border-radius: 0;
$border-radius: 0;
$primary: #ffdb73;
$secondary: #444349;
$font-family-base: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

@import "./global/global";
@import "./global/button";
@import "./global/form";

// modules
@import "./module/header";
@import "./module/footer";
@import "./module/nigel";

// sections
// ------------
@import "./module/blocks/blocks";

// pages
// ------------
@import "./pages/pages";

// cars
// ------------
@import "./module/cards/cards";