<div class="card mb-5 bg-white">
    <div class="d-flex">
        <img class="card-img-top" src="{{ accommodation.image }}" alt="Card image cap">
        <div class="card-body">
            <div class="card-header text-center">
                <div class="row">
                    <div class="col-24 col-md-12">
                        <h2 class="card-title">{{ accommodation.name }}</h2>
                    </div>
                    <div class="col-24 col-md-12">
                        <div class="d-flex">
                            <a href="/accommodation/{{ accommodation.id }}" class="btn btn-primary">Detail</a>
                            <a href="/booking/book/{{ accommodation.id }}" class="btn btn-primary">Boek</a>
                        </div>
                    </div>
                </div>
            </div>
            <h5 class="card-title">{{ accommodation.price }} / nacht</h5>
            <p class="card-text">{{ accommodation.max_persons }} personen</p>
            <p class="card-text">
                {{ accommodation.description }}
            </p>
        </div>
    </div>
</div>