<!-- Footer -->
<footer class="mt-4">
    <div class="footer-main">
        <div class="container-xl">
            <div class="row row-cols-3 py-5">
                <div class="col">
                    <h5>Contact Ons</h5>
                    <ul class="nav flex-column contact-wrapper">
                        <li class="nav-item mb-2">
                            <div class="d-flex">
                                <i class="fas fa-phone-alt"></i>
                                <a class="link-phone" href="tel:+1 323-913-4688">+1 323-913-4688</a>
                            </div>
                        </li>
                        <li class="nav-item mb-2">
                            <div class="d-flex">
                                <i class="fas fa-envelope"></i>
                                <a class="link-phone" href="mailto:example@example.nl">example@example.nl</a>
                            </div>
                        </li>
                        <li class="nav-item mb-2">
                            <div class="d-flex">
                                <i class="fas fa-paper-plane"></i>
                                <a class="link-phone" href="mailto:example@example.nl">25671 ZK Berenburg 15
                                    Groningen</a>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="col">

                </div>

                <div class="col">
                    <h5>Snelle Links</h5>
                    <ul class="nav flex-column quick-links-wrapper mb-4">
                        <li class="nav-item"><a href="/accommodation"
                                                class="nav-link p-0">Accommodaties</a></li>
                        <li class="nav-item"><a href="/faqs/" class="nav-link p-0">FAQS</a></li>
                        <li class="nav-item"><a href="/contact/" class="nav-link p-0">Contact</a></li>
                    </ul>

                    <a class="btn btn-primary btn-white" href="/accommodation">BOEK NU</a>
                </div>
            </div>
        </div>
    </div>

    <div class="copy-right py-4">
        <div class="container-xl">
            <span class="ms-2">© 2024 HBO ICT | Nigel & Daniel</span>
            <a href="/general-condition">Algemene voorwaarden</a>
        </div>
    </div>
</footer>