{% extends 'layouts/manage_layout.html' %}
{% set isAdmin = true %}
{% set isDashboard = true %}
{% set bodyClass = "add-user" %}
{% set title = "Gebruikers Instellingen" %}

{% block content %}
    <div class="container">
        <div>
            <h4 class="h4 mb-4">Alle gebruikers</h4>

            <!-- Users Table -->
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Gebruikersnaam</th>
                    <th>E-mail</th>
                    <th>Is beheerder</th>
                    <th>Acties</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ 'Ja' if user.is_admin else 'Nee' }}</td>
                        <td>
                            <a href="/manage/users/edit/{{ user.username }}" class="btn btn-primary">Bewerken</a>
                            <a href="/manage/users/delete/{{ user.id }}" class="btn btn-danger filled"
                               onclick="return confirm('Weet je het zeker?');">Verwijderen</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div>
            <h4 class="h4 mb-4">Nieuwe gebruiker registreren</h4>

            <!-- Registration Form -->
            <div class="card">
                <div class="card-body">
                    <form method="POST" action="/manage/submit-new-user">
                        <div class="row">
                            <div class="col-24">
                                <!-- Username Field -->
                                <div class="form-group">
                                    <label for="username">Gebruikersnaam:</label>
                                    <input type="text" class="form-control" id="username" name="username" required>
                                </div>
                            </div>

                            <div class="col-24">
                                <!-- Email Field -->
                                <div class="form-group">
                                    <label for="email">E-mail:</label>
                                    <input type="email" class="form-control" id="email" name="email" required>
                                </div>
                            </div>

                            <div class="col-24">
                                <!-- Password Field -->
                                <div class="form-group">
                                    <label for="password">Wachtwoord:</label>
                                    <input type="password" class="form-control" id="password" name="password" required>
                                </div>
                            </div>

                            <div class="col-24">
                                <!-- Confirm Password Field -->
                                <div class="form-group">
                                    <label for="confirm_password">Wachtwoord bevestigen:</label>
                                    <input type="password" class="form-control" id="confirm_password"
                                           name="confirm_password"
                                           required>
                                </div>
                            </div>

                            <div class="col-24">
                                <hr/>
                            </div>

                            <div class="col-12">
                                <div class="form-group">
                                    <label for="city">Stad:</label>
                                    <input type="text" class="form-control" id="city" name="city">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="postcode">Postcode:</label>
                                    <input type="text" class="form-control" id="postcode" name="postcode">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="address">Adres:</label>
                                    <input type="text" class="form-control" id="address" name="address">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="housenumber">Huis nummer:</label>
                                    <input type="text" class="form-control" id="housenumber" name="housenumber">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="is_admin" name="is_admin">
                                    <label class="form-check-label" for="is_admin">Is Beheerder</label>
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary mt-4">Gebruiker toevoegen</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}