{% extends 'layouts/manage_layout.html' %}
{% set isAdmin = true %}
{% set isDashboard = true %}
{% set bodyClass = "manage" %}
{% set title = "Beheerdersdashboard" %}

{% block content %}
    <div class="container">

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">

            <div class="col mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="fw-bolder mb-1 text-uppercase text-xs">
                                    Accommodaties
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_accommodations }} aantal
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="fw-bolder mb-1 text-uppercase text-xs">
                                    Boekingen
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_bookings }} aantal</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="fw-bolder mb-1 text-uppercase text-xs">
                                    Chatberichten
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_chat_messages }} aantal
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="fw-bolder mb-1 text-uppercase text-xs">
                                    Contactformulier
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_contact_submissions }}
                                    aantal
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="fw-bolder mb-1 text-uppercase text-xs">
                                    Gebruikers
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_users }} aantal
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}