{% extends 'layouts/main_layout.html' %}
{% set bodyClass = "pricing" %}
{% set title = "Pricing" %}

{% block content %}
    <div class="container mt-5">
        {% include 'components/card-filters.html' %}

        <div>
            {% for accommodation in accommodations %}
                {% include 'components/card-accommondation.html' %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block header %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="/static/js/rangepicker.js"></script>
{% endblock %}
