{% extends 'layouts/main_layout.html' %}
{% set isAdmin = true %}
{% set isDashboard = true %}
{% set bodyClass = "dashboard" %}
{% set title = "Dashboard" %}

{% block content %}
    <div class="container mt-5 page-dashboard">
        <h2 class="mb-4 text-center">All Bookings</h2>

        <div class="row">
            {% for booking in bookings %}
                <div class="booking-row">
                    <div class="booking-image">
                        <picture>
                            <img src="/static/img/{{ booking.thumbnail_image }}" alt="Thumbnail">
                        </picture>

                    </div>

                    <div class="booking-info">
                        <p>Start Date: {{ booking.start_date }}</p>
                        <p>End Date: {{ booking.end_date }}</p>
                        Accommodation Name: {{ booking.id }}<br>
                        Booking Date: {{ booking.booking_date }}<br>
                    </div>
                    <div class="booking-actions">
                        <button id="editButton" class="btn btn-primary" onclick="editBooking({{ booking.id }})">Edit
                        </button>
                        <button id="removeButton" class="btn btn-primary" onclick="removeBooking({{ booking.id }})">
                            Remove
                        </button>
                    </div>
                </div>
                </div>
            {% endfor %}
    </div>
{% endblock %}

{% block header %}
    <link rel="stylesheet" href="https://npmcdn.com/flatpickr@4.6.13/dist/themes/airbnb.css">
{% endblock %}