{% extends 'layouts/main_layout.html' %}
{% set isAdmin = true %}
{% set isDashboard = true %}
{% set bodyClass = "manage-accommodations" %}
{% set title = "Accommodatie Instellingen" %}

{% block content %}
    {% include 'components/blocks/hero/block-hero-dashboard.html' %}

    <div class="container">
        <div>
            <h4 class="h4 mb-4">Alle accommodaties</h4>
            <!-- Accommodations List -->
            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Naam</th>
                            <th>Locatie</th>
                            <th>Prijs</th>
                            <th>Max Personen</th>
                            <th>Acties</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for accommodation in accommodations %}
                            <tr>
                                <td>{{ accommodation.name }}</td>
                                <td>{{ accommodation.location }}</td>
                                <td>{{ accommodation.price }}</td>
                                <td>{{ accommodation.max_persons }}</td>
                                <td>
                                    <a href="/edit-accommodation/{{ accommodation.id }}" class="btn btn-primary">Bewerken</a>
                                    <a href="/delete-accommodation/{{ accommodation.id }}" class="btn btn-danger filled"
                                       onclick="return confirm('Weet je het zeker?');">Verwijderen</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="mt-4">
            <h4 class="h4 mb-4">Accommodatie toevoegen</h4>

            <!-- Add Accommodation Form -->
            <div class="card">
                <div class="card-body">
                    <form method="POST" action="/submit-accommodation" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="name">Naam:</label>
                            <input type="text" class="form-control" id="name" name="name" required>
                        </div>
                        <div class="form-group">
                            <label for="description">Beschrijving:</label>
                            <textarea class="form-control" id="description" name="description" required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="location">Locatie:</label>
                            <input type="text" class="form-control" id="location" name="location" required>
                        </div>
                        <div class="form-group">
                            <label for="price">Prijs (per nacht):</label>
                            <input type="number" class="form-control" id="price" name="price" required>
                        </div>
                        <div class="form-group">
                            <label for="image">Hoofd afbeelding accommodatie:</label>
                            <input type="file" class="form-control" id="image" name="image">
                        </div>
                        <div class="form-group">
                            <label for="max_persons">Maximum aantal personen:</label>
                            <input type="number" class="form-control" id="max_persons" name="max_persons" required>
                        </div>

                        <div class="form-group">
                            <label for="images">Afbeeldingen van accommodaties:</label>
                            <input type="file" class="form-control" id="images" name="images" multiple>
                            <small class="form-text text-muted">U kunt meerdere afbeeldingen selecteren.</small>
                        </div>
                        <!-- Add more fields as needed -->
                        <button type="submit" class="btn btn-primary mt-4">Accommodatie toevoegen</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}