{% extends 'layouts/main_layout.html' %}
{% set isAdmin = true %}
{% set isDashboard = true %}
{% set bodyClass = "add-user" %}
{% set title = "Gebruikers Instellingen" %}

{% block content %}
    {% include 'components/blocks/hero/block-hero-dashboard.html' %}

    <div class="container">
        <div>
            <h4 class="h4 mb-4">Alle gebruikers</h4>

            <!-- Users Table -->
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Gebruikersnaam</th>
                    <th>E-mail</th>
                    <th>Is beheerder</th>
                    <th>Acties</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ 'Ja' if user.is_admin else 'Nee' }}</td>
                        <td>
                            <a href="/edit-users/{{ user.id }}" class="btn btn-primary">Bewerken</a>
                            <a href="/remove-user/{{ user.id }}" class="btn btn-danger filled"
                               onclick="return confirm('Are you sure?');">Verwijderen</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div>
            <h4 class="h4 mb-4">Nieuwe gebruiker registreren</h4>

            <!-- Registration Form -->
            <div class="card">
                <div class="card-body">
                    <form method="POST" action="/submit-new-user">
                        <!-- Username Field -->
                        <div class="form-group">
                            <label for="username">Gebruikersnaam:</label>
                            <input type="text" class="form-control" id="username" name="username" required>
                        </div>

                        <!-- Email Field -->
                        <div class="form-group">
                            <label for="email">E-mail:</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>

                        <!-- Password Field -->
                        <div class="form-group">
                            <label for="password">Wachtwoord:</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>

                        <!-- Confirm Password Field -->
                        <div class="form-group">
                            <label for="confirm_password">Wachtwoord bevestigen:</label>
                            <input type="password" class="form-control" id="confirm_password" name="confirm_password"
                                   required>
                        </div>

                        <div class="form-group">
                            <label for="city">Stad:</label>
                            <input type="text" class="form-control" id="city" name="city">
                        </div>
                        <div class="form-group">
                            <label for="postcode">Postcode:</label>
                            <input type="text" class="form-control" id="postcode" name="postcode">
                        </div>
                        <div class="form-group">
                            <label for="address">Adres:</label>
                            <input type="text" class="form-control" id="address" name="address">
                        </div>
                        <div class="form-group">
                            <label for="housenumber">Huis nummer:</label>
                            <input type="text" class="form-control" id="housenumber" name="housenumber">
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="is_admin" name="is_admin">
                            <label class="form-check-label" for="is_admin">Is Beheerder</label>
                        </div>

                        <button type="submit" class="btn btn-primary mt-4">Gebruiker toevoegen</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}