<!DOCTYPE html>
<html lang="en">

{% set bodyClass = bodyClass|default("") %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% set title = title|default("") %}
    <title>{{ title }}</title>
    {% if "detail" in bodyClass %}
    {% endif %}
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.7.2/font/bootstrap-icons.css">
    {% block header %}
    {% endblock %}
</head>

<body class="{{ bodyClass }}">
<header class="p-3 bg-dark text-white">
    <div class="container-fluid">
        <div class="d-flex flex-wrap align-items-center justify-content-between">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none header-logo">
                <img src="static/img/272863.png" alt="logo">
            </a>

            <nav class="d-flex flex-wrap align-items-center">
                <a href="/" class="nav-item text-white">Home</a>
                <a href="#" class="nav-item text-white">Booking</a>
                <a href="#" class="nav-item text-white">Pricing</a>
                <a href="#" class="nav-item text-white">FAQs</a>
                <a href="#" class="nav-item text-white">Contact</a>
            </nav>

            <div class="d-flex align-items-center">
                <form class="form-inline my-2 my-lg-0 search-bar">
                    <input type="search" class="form-control form-control-dark" placeholder="Search..."
                           aria-label="Search">
                </form>

                <button type="button" class="btn btn-success">Login/Sign-up</button>
            </div>
        </div>
    </div>
</header>

{% block content %}
{% endblock %}

<!-- Footer -->
<footer class="custom-footer py-3 my-4">
    <div class="container-fluid custom-footer-container">
        <div class="d-flex align-items-center justify-content-between">
            <!-- Linker gedeelte -->
            <div class="footer-text d-flex align-items-center">
                <a href="/" class="text-decoration-none lh-1">
                    <img src="static/img/272863.png" alt="logo" style="height: 24px;">
                </a>
                <span class="text-muted ms-2">© 2023 HBO ICT | Nigel & Daniel</span>
            </div>

            <!-- Midden navigatie -->
            <nav class="nav footer-nav">
                <a href="/" class="nav-item text-muted">Home</a>
                <a href="#" class="nav-item text-muted">Booking</a>
                <a href="#" class="nav-item text-muted">Pricing</a>
                <a href="#" class="nav-item text-muted">FAQs</a>
                <a href="#" class="nav-item text-muted">Contact</a>
            </nav>

            <!-- Rechter gedeelte (Sociale media iconen) -->
            <ul class="nav list-unstyled d-flex">
                <li class="ms-3"><a class="text-muted" href="#"><i class="bi bi-twitter"
                                                                   style="font-size: 24px; height: 24px;"></i></a></li>
                <li class="ms-3"><a class="text-muted" href="#"><i class="bi bi-instagram"
                                                                   style="font-size: 24px; height: 24px;"></i></a></li>
                <li class="ms-3"><a class="text-muted" href="#"><i class="bi bi-facebook"
                                                                   style="font-size: 24px; height: 24px;"></i></a></li>
            </ul>
        </div>
    </div>
</footer>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>

</html>