<!DOCTYPE html>
<html lang="en">

{% set bodyClass = bodyClass|default("") %}
{% set isDashboard = isDashboard|default(false) %}
{% set isAdmin = isAdmin|default(false) %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% set title = title|default("") %}
    <title>{{ title }}</title>
    {% if "detail" in bodyClass %}
    {% endif %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.7.2/font/bootstrap-icons.css">
    <link rel="icon" href="/static/img/272863.png" type="image/png">
    {% block header %}
    {% endblock %}
</head>

<body class="{{ bodyClass }}">

{% include 'components/header.html' %}

<main id="main" role="main">
    {% block content %}
    {% endblock %}
</main>
{% if current_user.is_authenticated and not current_user.is_admin %}
    <div class="block-chat-wrapper">
        <!-- Chat Icon -->
        <div class="chat-icon" id="chatIcon">
            <i class="fas fa-comments"></i>
        </div>

        <!-- Chat Popup -->
        <div class="chat-popup" id="chatPopup">
            <h3>Chat met ons!</h3>
            <div id="chatCredentials">
                <div class="form-group">
                    <label for="chatName">Uw naam:</label>
                    <input type="text" class="form-control" id="chatName" placeholder="Vul uw naam in">
                </div>
                <div class="form-group">
                    <label for="chatEmail">Uw email:</label>
                    <input type="email" class="form-control" id="chatEmail" placeholder="Vul uw emailadres in">
                </div>
            </div>
            <div class="form-group">
                <label for="chatMessage">Uw bericht:</label>
                <textarea class="form-control" id="chatMessage" placeholder="Schrijf uw bericht"></textarea>
            </div>
            <button type="button" class="btn btn-primary" onclick="sendChatMessage()">Verzend Bericht</button>
            <button type="button" class="btn btn-secondary" onclick="closeChat()">Sluit Chat</button>
        </div>
    </div>
{% endif %}

{% include 'components/footer.html' %}

<script type="text/javascript">
    var loggedInUserId = "{{ current_user.id if current_user.is_authenticated else 'null' | tojson }}";

    var isChatPopupOpen = false;  // Flag to track chat popup state

    function toggleChatPopup() {
        var chatPopup = document.getElementById('chatPopup');
        isChatPopupOpen = !isChatPopupOpen; // Toggle the state
        chatPopup.classList.toggle('active');
    }

    function closeChat() {
        var chatPopup = document.getElementById('chatPopup');
        isChatPopupOpen = false;  // Set state to closed
        chatPopup.style.display = 'none';
    }

    function sendChatMessage() {
        var emailInput = document.getElementById('chatEmail');
        var nameInput = document.getElementById('chatName');
        var messageData = {
            user_id: loggedInUserId !== 'null' ? parseInt(loggedInUserId) : null,
            email: emailInput ? emailInput.value : '',
            name: nameInput ? nameInput.value : '',
            message: document.getElementById('chatMessage').value
        };

        fetch('/dashboard/save-chat', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(messageData),
        })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                document.getElementById('chatMessage').value = '';
                if (loggedInUserId === 'null') {
                    document.getElementById('chatEmail').value = '';
                    document.getElementById('chatName').value = '';
                }
                closeChat();
            })
            .catch((error) => {
                console.error('Error:', error);
            });
    }

    // Attach event listener to chat icon if it exists
    var chatIcon = document.getElementById('chatIcon');
    if (chatIcon) {
        chatIcon.addEventListener('click', toggleChatPopup);
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/headroom/0.12.0/headroom.min.js"></script>

<script>
    var myHeader = document.querySelector("header");
    var headroom = new Headroom(myHeader, {
        offset: 100,
    });
    headroom.init();
</script>

{% block scripts %}
{% endblock %}
</body>

</html>