.page-dashboard {
  .booking-row {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border: 1px solid #ccc;
  }

  .booking-image img {
    width: 100px; /* Adjust as needed */
    height: auto;
    margin-right: 20px;
  }

  .booking-info {
    padding: 10px 15px;
    border: 1px solid rgba(204, 204, 204, 0);
  }

  .booking-actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .booking-row {
    margin-bottom: 30px;
  }

  .booking-image {
    padding: 10px 15px;
    border: 1px solid rgba(204, 204, 204, 0);
  }

  .booking-actions {
    padding: 10px 15px;
    border: 1px solid rgba(204, 204, 204, 0);
  }
}