{% extends 'layouts/main_layout.html' %}
{% set bodyClass = "error" %}
{% set title = "Error" %}

{% block content %}
    <div class="container mb-5">
        <div class="block block-error">
            <div class="row align-items-center justify-content-center">
                <div class="col-24 col-lg-10">
                    <h1>Error</h1>
                    <p class="lead">
                        Het lijkt er op dat er iets fout is gegaan. Klik op de knop hieronder om naar home te gaan.
                    </p>
                    <a class="btn btn-primary" href="/">Terug naar Home</a>
                </div>
                <div class="col-24 col-lg-10">
                    <picture>
                        <img src="/static/img/404.webp" alt="404">
                    </picture>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

