{% extends 'layouts/main_layout.html' %}
{% set bodyClass = "error" %}
{% set title = "Error" %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card mt-md-5 bg-white rounded border border-gray">
                    <div class="card-header bg-white">
                        <h3 class="text-center">Error</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

