<div class="wizard-step" data-step="1">
    <h2>Stap 1: Persoonlijke gegevens</h2>
    <div class="mb-3">
        <label for="name" class="form-label">Naam:</label>
        <input type="text" class="form-control" name="username" id="name" required>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">E-mail:</label>
        <input type="email" class="form-control" name="email" id="email" required>
    </div>
    <div class="mb-3">
        <label for="postalcode" class="form-label">Postcode:</label>
        <input type="text" class="form-control" name="postalcode" id="postalcode" required>
    </div>
    <div class="mb-3">
        <label for="street" class="form-label">Straat:</label>
        <input type="text" class="form-control" name="street" id="street" required>
    </div>
    <div class="mb-3">
        <label for="housenumber" class="form-label">Huis nummer:</label>
        <input type="number" class="form-control" name="housenumber" id="housenumber" required>
    </div>
    <div class="mb-3">
        <label for="city" class="form-label">Stad:</label>
        <input type="text" class="form-control" name="city" id="city" required>
    </div>
    <button type="button" onclick="nextStep(1)" class="btn btn-primary">Volgende</button>
</div>